
table, th, td {
  border: 2px solid;
  
}

td {
text-align:center;
}

div {
background-color:#89bfcc;
border:1px solid;
border-radius:20px;
}

.myDiv {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  
}

.myDiv {
  border: 5px solid;
  background-color: blue;    
  text-align: center;

  align-content:center
}

.myDiv1 {
  border: 5px solid;
  background-color: yellow;    
  text-align: center;
    width:200px;
}
